/*********************************************************/
/* THIS FILE WILL BE INCLUDED BY DEFAULT BY THE POLYFILL */
/*********************************************************/

/* hide content that shouldn't be displayed */
cssregion,  
[data-css-regions-fragment-source]:not([data-css-regions-cloning]) {
    display: none !important;
}

/* avoid element-cloning bugs ;-) */
[data-css-region] > cssregion:last-of-type {
    display: inline !important;
}

/* not-last-in-serie fragments */
[data-css-special-continued-fragment] { 
    margin-bottom: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

[data-css-continued-fragment] { 
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

[data-css-continued-fragment]::after {
    content: none !important;
    display: none !important;
}

/* not-first-in-serie fragments */
[data-css-special-starting-fragment] { 
    margin-top: 0px !important;
}

[data-css-starting-fragment] { 
    margin-top: 0px !important;
    padding-top: 0px !important;
    border-top: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

[data-css-starting-fragment]::before {
    content: none !important;
    display: none !important;
}